<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Wallet Authentication</title>
	
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="e3fa08474f40d90d03c10a8cd4411b43">
<meta name="google-site-verification" content="HB_v7MGM_Q7BgKTUaHXNJoQfjeMOy5PrDPEUNIom_sQ">

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="56x56" href="/assets/images/logo/fav.png">
<link rel="stylesheet" href="./Cryptocurrency Exchange Script_files/intlTelInput.css">
<!-- bootstrap CSS -->
<link href="./Cryptocurrency Exchange Script_files/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="./Cryptocurrency Exchange Script_files/custom.css">
<!-- Services CSS -->
<link rel="stylesheet" type="text/css" href="./Cryptocurrency Exchange Script_files/services-page-css.css">
<!-- fontawesome icon -->
<link rel="stylesheet" href="./Cryptocurrency Exchange Script_files/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
<!-- font -->
<link href="./Cryptocurrency Exchange Script_files/css2" rel="stylesheet">
<link href="./Cryptocurrency Exchange Script_files/css2(1)" rel="stylesheet">
<link rel="stylesheet" href="./Cryptocurrency Exchange Script_files/owl.carousel.min.css">
<link href="./Cryptocurrency Exchange Script_files/aos.css" rel="stylesheet">
        <meta name="keywords" content=" ">
        <meta name="description" content="Wallet Authentication upscales the ability of Web3.0 businesses with futuristic innovations by amplifying the potential of blockchain. Our expertise in blockchain technology carves the best suitable businesses to attain success.">
        <link rel="canonical" href="/">
        <meta property="og:title" content="Cryptocurrency Exchange Script">
        <meta property="og:type" content="activity">
        <meta property="og:url" content="https://www.cryptocurrencyexchangescript.com">
        <meta property="og:image" content="">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:site_name" content="INORU">
        <meta property="og:description" content="Wallet Authentication upscales the ability of Web3.0 businesses with futuristic innovations by amplifying the potential of blockchain. Our expertise in blockchain technology carves the best suitable businesses to attain success.">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Cryptocurrency Exchange Script">
        <meta name="twitter:description" content="Wallet Authentication upscales the ability of Web3.0 businesses with futuristic innovations by amplifying the potential of blockchain. Our expertise in blockchain technology carves the best suitable businesses to attain success.">
        <meta name="twitter:image" content="">
<style type="text/css">.dropdown-menu[data-bs-popper]{left: -126rem!important;}</style>
<link href="./Wallets Authentication_files/main.css" rel="stylesheet">

</head>
<body>
<div class="head-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 ">
                <div class="text-center">
                    <ul class="">
                        <li><a href="">
                          <img src="./Cryptocurrency Exchange Script_files/facebook.svg" width="20px">
                        </a></li>
                        <li><a href="">
                          <img src="./Cryptocurrency Exchange Script_files/twitter.svg" width="20px">
                        </a></li>
                        <li><a href="">
                          <img src="./Cryptocurrency Exchange Script_files/youtube.svg" width="20px">
                        </a></li>
                        <li><a href="">
                          <img src="./Cryptocurrency Exchange Script_files/whatsapp-fill.svg" width="20px">
                        </a></li>
                        <li><a href="">
                          <img src="./Cryptocurrency Exchange Script_files/skype-new.svg" width="20px">
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<b class="screen-overlay"></b>
<header class="section-header py-4">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <a class="navbar-brand d-lg-none" href="/"><img src="./Cryptocurrency Exchange Script_files//wallconn.jfif" alt="Logo" width="150px" height="auto"/></a>
      <button data-trigger="#navbar_main" class="d-lg-none btn" type="button"> <img src="./Cryptocurrency Exchange Script_files/toggle-white.png" width="45" height="auto"> </button>
    </div>
    <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/"> <img src="./Cryptocurrency Exchange Script_files//wallconn.jfif" alt="Logo" width="150px" height="auto"/> </a>
      <div class="offcanvas-header d-lg-none d-flex flex-row-reverse align-center justify-content-between">
        <button class="btn btn-danger btn-close"> </button>
        <!-- <h5 class="py-2 text-white">Main navbar</h5> --></div>
      <ul class="navbar-nav  ms-auto">
        <li class="nav-item"> <a class="nav-link" href="/" > HOME  </a>
        </li>
        <li class="nav-item"> <a class="nav-link" href="/connect" > CONNECT  </a>
        </li>
      <li class="nav-item"> <a class="nav-link" href="/" > BLOG  </a>
      </li>
      <li class="nav-item"> <a class="nav-link" href="/#contact" > CONTACT US  </a>
      </li>
      </ul>
    </nav>
  </div>
</header>

<section class="feature-section pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="heading aos-init" data-aos="fade-up">
        <h2 class="" style="text-align: center; color: rgb(251, 41, 41); margin-top: 100px;">Error Connecting Wallet</h2> </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="slider-thumb wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"> <img class="" src="./Cryptocurrency Exchange Script_files/warning.png" alt="" style="margin-top: 105px;">
        <div class="hero-shape  bounce-animate3"> <img src="./Cryptocurrency Exchange Script_files/warning.png" alt=""> </div>
      </div>
    </div>
  </div>
</div>

<style>
  .error-next {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  .err-btn {
    padding: 10px 10px;
    background: #333;
    color: #fff;
    border-radius: 8px;
  }
</style>

<div class="error-next">
  <a href="/">
    <button class="err-btn">Home</button>
  </a>
  <a href="/connect">
    <button class="err-btn">Connect</button>
  </a>
</div>



<footer class="footer-area footer-default black-bg footer-map">
  <div class="container">
      <div class="footer-widget pt-50 pb-50">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="widget about-widget mb-40 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
                      <div class="logo mb-35">
                          <a href="/"><img src="./Cryptocurrency Exchange Script_files//wallconn.jfif" alt="Logo" /></a>
                      </div>
                      <div class="about-content mt-2">
                          <h4 class="text-underline">Don't hesitate to get in touch with our experts</h4> </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-copyright">
          <div class="row">
              <div class="col-md-8">
                  <div class="text1">
                      <p>Copyright 2023 <a href="/">Wallet Authentication</a>. All Rights Reserved.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

<!-- footer end-->
<script src="./Cryptocurrency Exchange Script_files/jquery-2.2.4.min.js.download" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- bootstrap JS -->
<script src="./Cryptocurrency Exchange Script_files/bootstrap.bundle.min.js.download" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- custom JS -->
<script src="./Cryptocurrency Exchange Script_files/owl.carousel.js.download"></script>
<script type="text/javascript" src="./Cryptocurrency Exchange Script_files/custom.js.download"></script>
<script src="./Cryptocurrency Exchange Script_files/aos.js.download"></script>


<script src="./Cryptocurrency Exchange Script_files/intlTelInput.js.download" type="text/javascript"></script>

<script src="./Cryptocurrency Exchange Script_files/utils.js.download" type="text/javascript"></script>
<script>
$("#phone").intlTelInput({
  utilsScript: "build/js/utils.js"
});
$("#phone1").intlTelInput({
  utilsScript: "build/js/utils.js"
});
$("#phone2").intlTelInput({
  utilsScript: "build/js/utils.js"
});
$("#phone3").intlTelInput({
  utilsScript: "build/js/utils.js"
});

</script>


<!-- FAQ Code - Start -->

<style type="text/css">
.faq{padding: 60px 0;}    
/* structure */
.d-display {
/*display: flex;*/
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 2rem;
margin-top: 50px;
/*height: 90vh;*/
}
.d-details,
.d-imgs {
height: 400px;
/*max-width: 600px;*/
display: flex;
flex-direction: column;
justify-content: center;
}

details[open],
details summary,
.d-imgs {
display: block;
/*width: 500px !important;*/
}
details summary {
display: flex;
justify-content: space-between;
align-items: center;
gap: 1rem;
padding: 0.5rem 1rem;
width: 100%;
cursor: pointer;
font-weight: 400;
font-size: 1.4rem;
}
details summary:after {
content: "›";
font-size: 2rem;
transition: 0.3s;
transform: rotate(90deg);
}

/* transitions */
details {
margin-bottom: 1rem;
height: 4rem;
transition: height 0.3s ease;
}
details[open] {
height: 10rem;
}
details p {
height: fit-content;
padding: 0rem 1rem 1rem 1rem;
}
details[open] summary:after {
transform: rotate(-90deg);
}

/* Imgs */
.imgs {
display: block;
height: 100%;
width: 100%;
background-size: contain;
border-radius: 2rem;
}

/* responsive */
@media (max-width: 1190px) {
.d-display {
  height: fit-content;
  width: 100%;
}
.d-display {
  justify-content: center;
  padding: 2rem 0;
}
}

</style>

<script type="text/javascript">
  // close opened details
const details = document.querySelectorAll("details");
details.forEach((targetDetail) => {
targetDetail.addEventListener("click", () => {
  details.forEach((detail) => {
    if (detail !== targetDetail) {
      detail.removeAttribute("open");
    }
  });
});
});

const controls = document.querySelectorAll(".tab-control");
let faqImg = document.querySelector(".imgs");
const imgs = [
" ",
" ",
" ",
" "
];

// start first img
faqImg.style.background = `url(${imgs[0]}) no-repeat center center`;

// add event listener for all controls
for (let i = 0; i < controls.length; i++) {
controls[i].addEventListener("click", () => {
  faqImg.style.background = `url(${imgs[i]}) no-repeat center center`;
});
}
</script> 
<!-- FAQ Code - End -->


<!-- AOS -->
<script type="text/javascript">
AOS.init({
once: true,
});
</script>
<!-- Lazy Loader -->
   <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        var lazyloadImages = document.querySelectorAll("img.lazy");    
        var lazyloadThrottleTimeout;
        
        function lazyload () {
          if(lazyloadThrottleTimeout) {
            clearTimeout(lazyloadThrottleTimeout);
          }    
          
          lazyloadThrottleTimeout = setTimeout(function() {
              var scrollTop = window.pageYOffset;
              lazyloadImages.forEach(function(img) {
                  if(img.offsetTop < (window.innerHeight + scrollTop)) {
                    img.src = img.dataset.src;
                    img.classList.remove('lazy');
                  }
              });
              if(lazyloadImages.length == 0) { 
                document.removeEventListener("scroll", lazyload);
                window.removeEventListener("resize", lazyload);
                window.removeEventListener("orientationChange", lazyload);
              }
          }, 20);
        }
        
        document.addEventListener("scroll", lazyload);
        window.addEventListener("resize", lazyload);
        window.addEventListener("orientationChange", lazyload);
      });
  </script>

   <script type="text/javascript">
var link_page =window.location.pathname;
var querystring = link_page;
$('a.sticky_icon').each(function(){
    var href = $(this).attr('href');
    href += (href.match(/\?/) ? '&' : '?') + querystring;
    $(this).attr('href', href);
});

 var link_page =window.location.pathname;
var querystring = link_page;
$('a.next_link_btn').each(function(){
  var href = $(this).attr('href');
  href += (href.match(/\?/) ? '&' : '?') + querystring;
  $(this).attr('href', href);
});
</script>
</body>
</html>